*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

thead {
    background-color: green;
    color: #fff;
}


/* Sideber CSS Start */

.sidebar-area {
    position: fixed;
    width: 334px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: green;
}

.sidebar-logo {
    height: 90px;
    display: flex;
    align-items: center;
}

.sidebar-logo h1 {
    color: #fff;
    padding: 30px;
    font-size: 30px;
    display: inline-block;
    text-transform: uppercase;
}

.header-logo i,
.sidebar-logo i {
    padding-right: 10px;
}

.sidebar-menu {
    padding-top: 16px;
}

.sidebar-menu ul {
    margin: 0;
    padding: 0;
}

.sidebar-menu li a {
    display: block;
    padding-left: 12px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-top: 10px;
}

.sidebar-menu li a.acitve,
.sidebar-menu li a:hover  {
    border-radius: 25px 0 0 25px;
    background-color: #fff;
    color: green;
}

.sidebar-menu a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* Sideber CSS End */

/* Main Content CSS Start */

.main-content-area {
    margin-left: 334px;
    background-color: #fff;
}

.header-area {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0 0;
    height: 90px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* #nav-toggle:checked + .sidebar-area {
    width: 70px;
}

#nav-toggle:checked + .sidebar-logo h1 span,
#nav-toggle:checked + .sidebar-menu ul li a span {
    display: none !important;
} */

.header-logo h1 {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
}

.header-search form {
    border-radius: 25px;
    width: 75%;
}

.header-search button {
    border: none;
    background-color: inherit;
    color: #3b3b3b3b;
}

.header-search input {
    border: navajowhite;
    text-align: center;
    font-size: 14px;
}

.header-search input:focus-visible {
    outline: none;
}

.user-Wrapper {
    display: flex;
    justify-content: end;
}

.user-Wrapper img {
    border-radius: 50%;
}

.user-content {
    padding-left: 6px;
}

.user-content h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.user-content small {
    font-size: 14px;
    font-weight: 400;
}

/* Main Content CSS End */

/* Dashboard CSS Start */

.items {
    background-color: #F5F7FF;
}

.single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 3px;
}

.single-item:hover i,
.single-item:hover {
    background-color: green;
    color: #fff;
}

.content-item h5 {
    font-size: 35px;
    font-weight: 600;
}

.single-item i {
    font-size: 25px;
    padding-bottom: 25px;
    color: green;
}

/* Dashboard CSS End */

/* Table CSS Start  */
.table-area {
    background-color: #F5F7FF;
}

.table-area thead {
    background-color: green;
    color: #fff;
}
/* Table CSS End  */

/* Category CSS Start  */
.breadcrumb {
    padding-bottom: 30px;
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.cat-list-left h2 {
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 2px;
}

button.csbt,
.product-table input.psubmit,
.cat-list-right a {
    float: right;
    color: #fff;
    background-color: green;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 4px;
}

th.cat-action {
    text-align: end;
    padding-right: 50px;
}

.cat-list-img a {
    float: right;
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 4px;
}

.cat-list-img a.bt-1 {
    background-color: red;
}

.cat-list-img a.bt-2 {
    background-color: yellow;
}

.cat-list-img a.bt-3 {
    background-color: blue;
}

.cat-list-img img {
    width: 80px;
    height: 60px;
}

/* Category CSS End  */

.single-product-content .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.single-product-content .product-price {
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: #4d4d4d;
    margin-bottom: 12px;
}

.single-product-content .product-quantity-cart {
    margin-bottom: 35px; 
}
    .single-product-content .product-quantity-cart .product-quantity {
      float: left;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      margin-right: 22px; 
    }
      @media only screen and (max-width: 479px) {
        .single-product-content .product-quantity-cart .product-quantity {
          margin-right: 10px; 
        } 
    }
      .single-product-content .product-quantity-cart .product-quantity .qtybtn {
        width: 30px;
        float: left;
        height: 38px;
        text-align: center;
        color: #7d7d7d;
        cursor: pointer; 
    }
        .single-product-content .product-quantity-cart .product-quantity .qtybtn:hover {
          color: #83a931; 
        }
        .single-product-content .product-quantity-cart .product-quantity .qtybtn i {
          font-size: 16px;
          display: block;
          line-height: 38px;
         }
      .single-product-content .product-quantity-cart .product-quantity input {
        float: left;
        background-color: transparent;
        border: none;
        height: 38px;
        width: 36px;
        color: #7d7d7d;
        line-height: 24px;
        font-size: 14px;
        padding: 7px 5px;
        text-align: center; }

.single-product-content .product-quantity-cart .add-to-cart {
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    padding: 8px 38px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
 }
    @media only screen and (max-width: 479px) {
      .single-product-content .product-quantity-cart .add-to-cart {
        padding: 8px 30px; 
    } 
}
    .single-product-content .product-quantity-cart .add-to-cart:hover {
      background-color: green;
     }
     
     .profile-right td,
     .categori-table td,
     .product-table td {
        padding: 5px;
     }

     .profile-right input.passsubmit,
     .categori-table input.csubmit,
     .product-table input.psubmit {
    color: #fff;
    background-color: green;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 4px;
    border: 0;
    float: left;
}

.profile-left h2 {
    font-size: 28px;
    padding-top: 20px;
}

.profile-left h3 {
    font-size: 25px;
    font-weight: 400;
    padding-top: 10px;
}


